@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.banner {
	position: relative;
	margin: 0;
}

.stegosaurus {
	font-size: 1.6em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	padding-left: .6em;
}

.stegofigcap {
	background-color: red;
	padding: none;
	font-family: serif;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.info {
	float: left;
	display: inline;
	width: 15%;
	border-left: solid 1px #B8BABA;
	margin-bottom: 2em;
}

.stats {
	width: 10%;
	padding-left: 9%;
	margin: 0;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #B8BABA;
}

.details {
	padding-left: 9%;
	margin: 0;
	font-size: 1.2em;
}
